<h1>Authors Information</h1>

{{! READ table }}
<table>
    <thead>
        <tr>
            {{#each authors.[0]}}
            <th>{{@key}}</th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each authors}}
        <tr>
            <td>{{this.authorID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>

            {{! DELETE form }}
            <form id='delete_author_form'>
                <input type='hidden' name='delete_author_id' value='{{this.authorID}}' />
                <input type='hidden' name='delete_author_name' value='{{this.firstName}} {{this.lastName}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
