<h1>Library Locations</h1>

<table>
  <thead>
    <tr>
      {{#each locations.[0]}}
      <th>{{@key}}</th>
      {{/each}}
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each locations}}
    <tr>
      <td>{{this.locationID}}</td>
      <td>{{this.locationName}}</td>
      <td>{{this.locationAddress}}</td>
      <td>{{this.locationPhone}}</td>
      <td>{{this.locationEmail}}</td>

      <form id='delete_location_form'>
        <input type='hidden' name='delete_location_id' value='{{this.locationID}}' />
        <input type='hidden' name='delete_location_name' value='{{this.locationName}}' />
        <td>
          <button type='submit'>
            Delete
          </button>
        </td>
      </form>
    </tr>
    {{/each}}
  </tbody>
</table>
